* {
   margin: 0.5em;
   box-sizing: border-box;
}

body {
   background-color: #000;
   color: #fff;
}

h3 {
   color: blueviolet;
   margin-bottom: 15px;
}

h4 {
   margin-bottom: 15px;
}

span {
   color: orangered;
}

/* Wrapping individual character properties by border ================= */
.character-container {
   border: 2px solid blue;
   border-radius: 1rem;
   padding: 1rem;
}

/* Customizing Scrollbar ============================ */
::-webkit-scrollbar {
   width: 15px;
}

::-webkit-scrollbar-track {
   border-radius: 10px;
   background-color: #000;
}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-image: linear-gradient(45deg, #ffa500, #ff4500);
}
