* {
   margin: 0.5em;
   box-sizing: border-box;
}

body {
   background-color: #000;
   color: #fff;
}

h3 {
   color: blueviolet;
   margin-bottom: 15px;
}

h4 {
   margin-bottom: 15px;
}

span {
   color: orangered;
}

.character-container {
   border: 2px solid blue;
   border-radius: 1rem;
   padding: 1rem;
}
